body {
    margin: 0;
    background-color: lightgray
}

@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

    text-decoration: none;

#mainSection {
    display: flex;
}

#firstSection {
    display: flex;
    background-color: hsl(235, 73%, 97%);
    height: 750px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#thisismeSide {
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    margin-left: 70px;
}

#thisismeTxt {
    display: flex;
    color: black;
    font-family: poppins;
    font-weight: 500px;
    font-size: 14px;
    letter-spacing: 2px;
}

#nameTxt {
    display: flex;
    font-size: 61px;
    font-family: poppins;
    font-weight: 700;
    color: black;
    line-height: 0.5em;
    height: 2px;
    padding-bottom: 5px;
}

#instructionPart {
    display: flex;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.7;
    color: #777777;
    padding-bottom: 3px;
}

#discoverBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));
    width: 170px;
    height: 40px;
}

#discoverBtn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
    font-size: smaller;
}

#imgSide {
    display: flex;
    margin-top: 136px;
    padding-right: 127px;
}

#secoendSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

#hero {
    display: flex;
    height: 380px;
    padding-right: 14px
}

#ABOUT {
    display: flex;
    flex-direction: column;
}
/* this is the header section of the site */
/* این بخش هدر سایت میباشد */

#aboutmeTxt {
    display: flex;
    font-size: medium;
    font-family: poppins;
}

#personaldetailTxt {
    display: flex;
    font-size: 36px;
    font-family: poppins;
    font-weight: bolder;
    color: black;
    line-height: 1;
}
header {
    background-color: white;

#detailBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));
    width: 170px;
    height: 40px;
    margin-top: 8px;
}
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 11px 0;
        margin-right: 23px;

        img {
            margin-right: 140px;
        }

        nav {
            ul {
                display: flex;
                list-style-type: none;
                gap: 30px;

                li {
                    a {
                        padding: 1px;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }

    }

#detailBtn a {
    font-size: small;
    text-decoration: none;
    font-family: sans-serif, poppins;
    font-weight: bold;
    color: white;
}