body {
    margin: 0px;
    overflow-x: hidden;

}

@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

small,
p,
span,
a,
h1,
h2,
h3,
h4,
h5 {
    font-family: poppins;
    color: black;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    .container {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 1140px;
        margin: 0 auto;

        nav {
            >ul {
                display: flex;
                gap: 10px;

                >li:first-of-type,
                :hover {
                    >a {
                        color: blue;
                    }
                }

                >li {
                    position: relative;

                    >a {
                        display: inline-block;
                        padding: 7px;
                        font-size: small;
                    }

                    >ul {
                        display: flex;
                        position: absolute;
                        top: 153%;
                        right: 0;
                        background-color: white;
                        width: 160px;
                        padding: 15px;
                        height: 55px;
                        gap: 13px;
                        flex-direction: column;
                        visibility: hidden;
                        box-shadow: 0px 0px 7px rgb(100, 100, 100);
                        transition: all 0.70s (cubic-bezier(0.445, 0.05, 0.55, 0.95));
                        transition-delay: .3s;

                        >li {
                            position: relative;

                            >a {
                                display: block;
                                font-size: 12px;
                            }

                            >ul {
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                gap: 13px;
                                padding: 15px;
                                height: 55px;
                                background-color: white;
                                width: 160px;
                                right: 106%;
                                top: 35%;
                                visibility: hidden;
                                box-shadow: 0px 0px 7px rgb(100, 100, 100);
                                transition: all 0.70s (cubic-bezier(0.445, 0.05, 0.55, 0.95));
                                transition-delay: 0.3s;


                            }


                            >li:hover>ul {
                                visibility: visible;

                            }
                        }
                    }

                }

                >li:hover>ul {
                    visibility: visible;

                }
            }
        }
    }
}


section {

    .first-container {


        #back-ground {
            background-color: #f9f9ff;
        }

        .info {
            height: 670px;
            width: 1440px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 auto;


            >.detaile {
                margin-left: 75px;
                margin-bottom: 35px;
                /* display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column; */

                >span {
                    font-weight: 500px;
                    font-size: 14px;
                    letter-spacing: 2px;
                }

                >h1 {
                    font-size: 61px;
                    font-family: poppins;
                    font-weight: 700;
                    line-height: 0.5em;
                    height: 2px;
                    padding-bottom: 30px;
                }

                >p {
                    font-size: 14px;
                    font-weight: 100;
                    color: #777777;
                    line-height: 1.7;
                    padding-bottom: 5px;
                }

                #discoverBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));
                    width: 170px;
                    height: 40px;

                    >a {
                        font-weight: bold;
                        color: white;
                        font-size: smaller;
                    }
                }
            }

            >img {
                margin-top: 56px;
                padding-right: 90px;
            }
        }

        .ABOUT {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 150px auto;
            width: 1420px;

            >img {
                width: 520px;
                height: 380px;
            }

            >.identity {
                >span {
                    font-size: medium;
                }

                >h2 {
                    font-size: 36px;
                    font-weight: bolder;
                    line-height: 1;
                }

                >p {
                    font-size: 14px;
                    font-weight: 100;
                    color: #777777;
                }

                #detailBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));
                    width: 170px;
                    height: 40px;
                    margin-top: 8px;

                    >a {
                        font-size: small;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
        }

    }

    .seconed-container {
        text-align: center;
        gap: 10px;
        margin: 141px auto;

        img:hover {
            color: #62bdfc;
        }

        >h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        >span {
            color: #777;
            font-size: 14px;
            margin-bottom: 40px;
        }

        >.service-row {
            display: flex;
            justify-content: center;
            gap: 30px;
            vertical-align: middle;
            margin-bottom: 40px;
            margin-top: 80px;
            flex-wrap: wrap;
        }

        .service:hover>h3 {
            color: rgb(0, 81, 255);
        }

        .service {
            width: 300px;
            padding: 20px;
            background: white;

            >img {
                width: 70px;
            }

            >h3 {
                color: #333;
                margin-bottom: 10px;
            }

            >p {
                color: #777;
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }

    .third-container {
        background: linear-gradient(to right, #8490ff, #62bdfc);
        text-align: center;

        .main-content {
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 70%;
            gap: 150px;
        }

        h1 {
            font-size: 40px;
            font-weight: bolder;
            font-family: arial;
            color: white;
        }

        span {
            color: white;
        }
    }

    .fourth-container {
        margin: 150px auto;
        text-align: center;
        width: 1340px;

        >h1 {
            font-size: 38px;
            line-height: 16%;
        }

        >span {
            font-size: 14px;
            font-weight: 100;
            color: #777777;
        }

        nav {
            margin-top: 95px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;


                >li:first-of-type {
                    >a {
                        color: #62bdfc;
                    }
                }

                li {

                    a {
                        position: relative;
                        padding: 10px;
                        font-size: 12px;
                        font-weight: 500;
                        text-decoration: none;
                        color: black;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: black;
                            transition: width 0.3s ease;
                        }

                        &:hover::after {
                            width: 30%;
                        }
                    }
                }

            }
        }

        >.boxs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            margin: 80px auto;
            cursor: pointer;

            img {
                position: relative;
                background: transparent;


                >img {
                    position: absolute;
                }
            }

            img:hover {
                background: (to right, #8490ff, #62bdfc);
                opacity: .5;
            }

            h3 {
                line-height: 0%;
            }

            small {
                font-weight: 100;
                color: #868686;
                font-size: medium;
            }
        }
    }

    .fiveth-container {
        text-align: center;
        background-color: #f9f9ff;
        padding-top: 40px;
        height: 460px;

        h1 {
            line-height: 87%;
        }

        .comments {
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: center;
            gap: 27px;
            margin-top: 70px;

            #commentBox:hover>h3 {
                color: #62bdfc;
                transition: all .30s ease-out;

            }

            #commentBox {
                position: relative;
                padding-left: 100px;
                background-color: white;
                width: 450px;
                height: 180px;
                cursor: pointer;


                >img {
                    position: absolute;
                    left: 0;
                    margin-left: 40px;
                    margin-top: 10px;
                    width: 43px;
                }

                >p {
                    font-size: 13px;
                    font-weight: lighter;
                    color: #999999;
                }

                >h3 {
                    line-height: 0%;
                    padding-top: 17px;
                }

                >span {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .sixth-container {
        text-align: center;
        padding-top: 40px;

        >h1 {
            line-height: 80%;
        }

        .box {
            display: flex;
            justify-content: center;
            margin-top: 70px;
            position: relative;

            #boxs:hover {
                transform: scale(1.1);
                background: linear-gradient(80deg, #8490ff, #62bdfc);

                >a {
                    visibility: visible;
                }

                >h1:first-of-type {
                    border: 30px solid rgba(63, 82, 252, 0.1);
                }

                >h1:last-of-type {
                    visibility: hidden;
                }

                >h1,
                h3,
                small {
                    color: #fff;
                }
            }

            #boxs {
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                width: 280px;
                height: 540px;
                background-color: #f9f9ff;
                flex-direction: column;
                transition: all .4s ease;

                >h1:first-of-type {
                    border: 30px solid rgba(132, 144, 255, 0.1);
                    border-radius: 50%;
                    padding: 15px;
                    width: 44px;
                }

                >a {
                    position: absolute;
                    padding: 8px;
                    visibility: hidden;
                    width: 240px;
                    background-color: #fff;
                    bottom: 0;
                    margin-bottom: 28px;
                }

                #border {
                    display: flex;
                    flex-direction: column;
                    padding-top: 35px;
                    gap: 15px;

                    >small {
                        border-top: 1px ridge;
                        border-bottom: 1px ridge;
                        padding: 9px
                    }
                }
            }
        }
    }

    .seventh-container {
        background-color: #f9f9ff;
        height: 850px;
        text-align: center;
        margin-top: 260px;

        >h1 {
            padding-top: 80px;
        }

        span,
        p {
            font-weight: 100;
            font-size: 15px;
            color: #929090;
        }

        .box:hover {
            >img {
                transform: translateZ(29px);

            }

            h3 {
                color: #62bdfc;
            }
        }

        .boxs {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 120px;

            .box {
                gap: 20px;
                display: flex;
                padding: 8px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: left;
                cursor: pointer;
                overflow: hidden;
                transition: all 2s ease;

                >img {
                    width: 360px;
                    height: 220px;

                }

                #mainBox {
                    display: flex;
                    align-items: center;
                    margin: 0px auto;
                    gap: 7px;
                    width: 360px;
                    border-bottom: 1px ridge;

                    >.meta {
                        display: flex;
                        gap: 8px;
                        margin-left: 110px;
                    }
                }
            }
        }
    }

    .last-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background: linear-gradient(to right, #8490ff, #62bdfc);
        height: 200px;
        transition: all 4s ease-in-out;
        transition-delay: 1.5s;

        img {
            padding: 27px;
            opacity: 0.4;
            color: #007bff
        }

        img:hover {
            opacity: 1;
        }
    }
}

footer {
    background: #0b0c10;

    .container {
        display: flex;
        align-items: center;
        height: 500px;
        color: #bbb;
        width: 85%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;


        h4 {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            color: #bbb;
            font-size: 15px;
            line-height: 1.8;
            margin-bottom: 20px;
        }

        .copy {
            font-size: 14px;
            color: #666;

            a {
                color: #a57cff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


        .newsletter {
            .newsletter-form {
                display: flex;
                overflow: hidden;
                background: #fff;
                justify-content: center;

                input {
                    border: none;
                    outline: none;
                    padding: 12px 28px;
                    flex: 1;
                    width: 350px;
                    font-size: 15px;
                }

                button {
                    background: #a57cff;
                    border: none;
                    color: #fff;
                    padding: 0 22px;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }

        .social-links {
            display: flex;
            gap: 18px;

            a {
                color: #bbb;
                font-size: 24px;
                transition: 0.3s;

            }
        }


    }
}